<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% for elke_plan in data %}
            {% for col in columns %}

                <tb> cols[0]</tb>
            {% endfor %}
            <tr>
                {%  for elk_gegeven in elke_plan %}
                    <td>{{ str(elk_gegeven)|truncate(100)}}</td>

                {% endfor %}
            </tr>
    {% endfor %}
</body>
</html>