<h1>About us</h1>
<h2>Wie zijn we?</h2>
<p>Het modemerk D&amp;P (Device & Programming) werd gelanceerd in 2016 en maakt deel uit van een Belgisch schoolbedrijf
    dat 20 jaar geleden werd opgericht.&nbsp;</p>
<p>Het modebedrijf stelt vandaag 560 mensen te werk,&nbsp; telt 196 filialen in heel Belgi&euml; en beschikt over een
    uitgebreide webshop. De modeketen biedt een volledige collectie trendy kledij en accessoires aan voor de volledige
    familie. D&amp;P werd dit jaar opnieuw genomineerd voor Beste Winkelketen en Beste Webshop (in de categorie Dames)
    van Belgi&euml; 2016-2017.</p>
<p>D&amp;P staat voor kleur, kwaliteit tegen een betaalbare prijs en voor duurzaam ondernemen. Zo is D&amp;P lid van de
    Fair Wear Foundation die toeziet op correcte arbeidsomstandigheden in lageloonlanden. Eveneens is het bedrijf lid
    van de BeCommerce, de Belgische Vereniging van de bedrijven die actief zijn in de online verkoop.</p>
<h2>Kleur primeert in onze filosofie</h2>
<p>De D&amp;P collecties zijn altijd kleurrijk, met een grote keuze aan tinten en nuances, zodat ieder persoon het model
    en kleur vindt die haar of hem past.<br/>Dankzij wekelijkse leveringen hangen er bij ieder bezoek nieuwe artikelen,
    bovendien is er om de 14 dagen een volledig nieuw kleuraccent in de winkel.</p>
<h2>Aangenaam winkelen</h2>
<p>Winkelen bij D&amp;P is in een aangename sfeer een outfit samenstellen, uit de laatste trends en zonder twijfel. Het
    is de garantie voor een optimale kwaliteit aan de laagste prijzen. Wij combineren goed humeur met een hartelijk
    verkoopsteam en persoonlijke, aangename winkels.</p>
<h2>Advies bij uw aankoop</h2>
<p>Onze verkoopsters zijn speciaal opgeleid in stijl- en kleuradvies om jou te helpen kiezen en combineren. De gepaste
    outfit en kleur doen wonderen!</p>
<h2>Kwaliteitscontrole</h2>
<p>We hechten heel wat belang aan de kwaliteit van onze producten, want D&amp;P staat garant voor kwalitatieve kledij
    aan een voordelige prijs. Bekijk hier ons filmpje die je toont hoe onze interne kwaliteitscontrole in zijn werk
    gaat. </p>
<h2>Eerlijk en duurzaam ondernemen</h2>
<p>D&amp;P neemt ook haar verantwoordelijkheid voor mens en milieu, eerlijke handel is de norm.
<h2>BeCommerce</h2>
<p>D&amp;P is lid van BeCommerce, de Belgische Vereninging van de bedrijven die actief zijn in de online verkoop. De
    website van D&amp;P is gebonden met de gedragscode van het </p>
