<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/home.css">
  <title>Home</title>
</head>
<body>
  <header class="o-row o-row--md o-row--header o-row--light">
    <div class="o-container">
      <div class="c-header">
        <div class="c-header__logo">
          <h1 class="c-logo u-color-primary-light">
            PiDomica
          </h1>
      </div>
      <div class="c-header__nav">
          <nav class="c-nav">
              <ul class="o-list c-nav__list">
                <li class="c-nav__item"><a href="#!" class="c-nav__link">Manueel </a></li>
                <li class="c-nav__item"><a href="#!" class="c-nav__link">Historieken</a></li>
                <li class="c-nav__item"><a href="#!" class="c-nav__link">Plan opstellen</a></li>
              </ul>
          </nav>
      </div>
      <div class="c-header__nav">
        <nav class="c-nav">
            <ul class="o-list c-nav__list">
                  <picture class="c-nav__margin">
                    <svg class="svg"xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M18 16v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2zm-5 0h-2v-2h2v2zm0-4h-2V8h2v4zm-1 10c1.1 0 2-.9 2-2h-4c0 1.1.89 2 2 2z" fill="#1C95AD"/>
                        <path fill="none" d="M0 0h24v24H0V0z"/>
                    </svg>

                  </picture>
                  <div class="u-color-primary-white xmargin x-content">
                      3
                  </div>
                  <picture class="c-nav__margin">
                    <svg class="svg"xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z" fill="#1C95AD"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>


                  </picture>
            </ul>
        </nav>
      </div>
      </div>

    </div>

  </header>

<section class="o-row o-row--lg">
  <div class="o-container">
    <article class="o-section o-section--lg">
      <div class="o-layout o-layout--gutter-lg o-layout--align-center o-layout--row-reverse">


        <div class="o-layout__item u-1-of-2-bp3">
          <figure class="c-figure u-mb-lg">
            <picture>
              <img src="C:\design\project1.2\img\Knipsel.PNG" alt="Discount Mobile">
            </picture>
            <div class="o-layout o-layout--justify-center u-color-primary-light ">
              <p class="c-lead--lg">
                Uw dagelijks verbruik in de maand Mei
              </p>
            </div>
          </figure>
        </div>

        <div class="o-layout__item u-1-of-2-bp3">
          <h2 class="c-lead c-lead--xl u-color-primary-title">
              Verwarming
          </h2>
                <article class="o-section o-section--lg">
                  <div class="o-layout">
                    <div class="o-layout__item u-1-of-20-bp3">
                      <picture class="c-figure u-mb-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z" fill="#1C95AD"/>
                        </svg>
                      </picture>
                    </div>

                    <div class="o-layout__item u-19-of-20-bp3">
                      <p class="u-color-primary-light">
                          Op 29/05/2018 heeft u 800W meer verbruikt dan gewonelijk
                      </p>
                    </div>
                  </div>

                </article>
                <article class="o-section o-section--lg">
                  <div class="o-layout">
                    <div class="o-layout__item u-1-of-20-bp3">
                      <picture class="c-figure u-mb-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z" fill="#1C95AD"/>
                        </svg>
                      </picture>
                    </div>

                    <div class="o-layout__item u-19-of-20-bp3">
                      <p class="u-color-primary-light">
                          Op 16/05/2018 heeft u 500W meer verbruikt dan gewonelijk
                      </p>
                    </div>
                  </div>

                </article>
                <h2 class="c-lead c-lead--xl u-color-primary-title">
                    Verlichting
                </h2>
                <article class="o-section o-section--lg">
                  <div class="o-layout">
                    <div class="o-layout__item u-1-of-20-bp3">
                      <picture class="c-figure u-mb-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z" fill="#1C95AD"/>
                        </svg>

                      </picture>
                    </div>

                    <div class="o-layout__item u-19-of-20-bp3">
                      <p class="u-color-primary-light">
                        Op 14/05/2018 is verlichting "badkamer" als defect gedetecteerd
                      </p>
                    </div>
                  </div>

                </article>


          </div>
        </div>


    </div>
    </article>
  </div>
</section>


</body>
</html>
