<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/home.css">
  <script src="C:\design\project1.2\js\slider.js"></script>
  <title>Manueel</title>
</head>
<body>
  <header class="o-row o-row--md o-row--header o-row--light">
    <div class="o-container">
      <div class="c-header">
        <div class="c-header__logo">
          <h1 class="c-logo u-color-primary-light">
            PiDomica
          </h1>
      </div>
      <div class="c-header__nav">
          <nav class="c-nav">
              <ul class="o-list c-nav__list">
                <li class="c-nav__item"><a href="#!" class="c-nav__link">Manueel </a></li>
                <li class="c-nav__item"><a href="#!" class="c-nav__link">Historieken</a></li>
                <li class="c-nav__item"><a href="#!" class="c-nav__link">Plan opstellen</a></li>
              </ul>
          </nav>
      </div>
      <div class="c-header__nav">
        <nav class="c-nav">
            <ul class="o-list c-nav__list">
                  <picture class="c-nav__margin">
                    <svg class="svg"xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M18 16v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2zm-5 0h-2v-2h2v2zm0-4h-2V8h2v4zm-1 10c1.1 0 2-.9 2-2h-4c0 1.1.89 2 2 2z" fill="#1C95AD"/>
                        <path fill="none" d="M0 0h24v24H0V0z"/>
                    </svg>

                  </picture>
                  <div class="u-color-primary-white xmargin x-content">
                      3
                  </div>
                  <picture class="c-nav__margin">
                    <svg class="svg"xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z" fill="#1C95AD"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>


                  </picture>
            </ul>
        </nav>
      </div>
      </div>

    </div>

  </header>
  <section class="o-row o-row--lg">
    <div class="o-container">
      <article class="o-section o-section--lg">
        <div class="o-layout o-layout--gutter-lg o-layout--align-center x-minus-margin">
            <div class="o-layout o-layout__item u-1-of-2-bp3 x-content">
              <div class="c-lead c-lead--xl u-color-primary-title x-minus-margin" >
                Temperatuur
              </div>
            </div>

            <div class="o-layout__item u-1-of-2-bp3 x-content">
              <div class="c-lead c-lead--xl u-color-primary-title x-minus-margin" >
                Licht
              </div>
            </div>
        </div>
      </article>

    </div>
  </section>
  <section class="o-row o-row--lg">
    <div class="o-container">
      <article class="o-section o-section--lg x-minus-margin3">
        <div class=" c-lead c-lead--xl u-color-primary-title x-content">
          Alles
        </div>
      </article>
      <article class="o-section o-section--lg">
        <div class="o-layout o-layout--gutter-lg o-layout--align-center xtra_margin2">
            <div class="o-layout o-layout__item u-1-of-2-bp3 x-content">
              <div class="u-color-primary-white c-button" >
                Aan
              </div>
              <div class="u-color-primary-white c-button xtra_margin" >
                Uit
              </div>
            </div>

            <div class="o-layout__item u-1-of-2-bp3 x-content">
              <div class="u-color-primary-white c-button">
                Aan
              </div>
              <div class="u-color-primary-white c-button xtra_margin" >
                Uit
              </div>
            </div>
        </div>
        <hr class="u-ln_thickness-xsm">
      </article>

    </div>
  </section>
  <section class="o-row o-row--lg">
    <div class="o-container">
      <article class="o-section o-section--lg x-minus-margin2">
        <div class="c-lead c-lead--xl u-color-primary-title x-content">
          Badkamer
        </div>
      </article>
      <article class="o-section o-section--lg">
        <div class="o-layout o-layout--gutter-lg o-layout--align-center xtra_margin2">
            <div class="o-layout o-layout__item u-1-of-2-bp3 x-content">
              <div class="u-color-primary-white c-button" >
                Aan
              </div>
              <div class="u-color-primary-white c-button xtra_margin" >
                Uit
              </div>
            </div>

            <div class="o-layout__item u-1-of-2-bp3 x-content">
              <div class="u-color-primary-white c-button">
                Aan
              </div>
              <div class="u-color-primary-white c-button xtra_margin" >
                Uit
              </div>
            </div>
        </div>
      </article>
      <article class="o-section o-section--lg">
        <div class="o-layout o-layout--gutter-lg o-layout--align-center xtra_margin2">
            <div class="o-layout__item u-1-of-2-bp3 x-content u-neg-mt-xl">
              <p class="u-neg-mb-xsm u-neg-mt-sm u-color-primary-title c-lead c-lead--lg">dempen</p>
              <input class="u-color-gradient_background-light" onclick="myFunction()" type="range" id="myRange" value="90">

                <p class="u-neg-mb-xsm u-color-primary-title c-lead c-lead--lg u-neg-mt-xsm" id="demo"></p>

            </div>

            <div class="o-layout__item u-1-of-2-bp3 x-content u-neg-mt-xl">
              <p class="u-neg-mb-xsm u-neg-mt-sm u-color-primary-title c-lead c-lead--lg">dempen</p>
              <input class="u-color-gradient_background-light" onclick="myFunction2()" type="range" id="myRange2" value="90">

                <p class="u-neg-mb-xsm u-color-primary-title c-lead c-lead--lg u-neg-mt-xsm" id="demo2"></p>
            </div>
        </div>
        <hr class="u-ln_thickness-xsm">
      </article>
    </div>
  </section>
  <section class="o-row o-row--lg">
    <div class="o-container">
      <article class="o-section o-section--lg x-minus-margin2">
        <div class="c-lead c-lead--xl u-color-primary-title x-content">
          Slaapkamer
        </div>
      </article>
      <article class="o-section o-section--lg">
        <div class="o-layout o-layout--gutter-lg o-layout--align-center xtra_margin2">
            <div class="o-layout o-layout__item u-1-of-2-bp3 x-content">
              <div class="u-color-primary-white c-button" >
                Aan
              </div>
              <div class="u-color-primary-white c-button xtra_margin" >
                Uit
              </div>
            </div>

            <div class="o-layout__item u-1-of-2-bp3 x-content">
              <div class="u-color-primary-white c-button">
                Aan
              </div>
              <div class="u-color-primary-white c-button xtra_margin" >
                Uit
              </div>
            </div>
        </div>
      </article>
      <article class="o-section o-section--lg">
        <div class="o-layout o-layout--gutter-lg o-layout--align-center xtra_margin2">
            <div class="o-layout__item u-1-of-2-bp3 x-content u-neg-mt-xl">
              <p class="u-neg-mb-xsm u-neg-mt-sm u-color-primary-title c-lead c-lead--lg">dempen</p>
              <input class="u-color-gradient_background-light" onclick="myFunction()" type="range" id="myRange" value="90">

                <p class="u-neg-mb-xsm u-color-primary-title c-lead c-lead--lg u-neg-mt-xsm" id="demo"></p>

            </div>

            <div class="o-layout__item u-1-of-2-bp3 x-content u-neg-mt-xl">
              <p class="u-neg-mb-xsm u-neg-mt-sm u-color-primary-title c-lead c-lead--lg">dempen</p>
              <input class="u-color-gradient_background-light" onclick="myFunction2()" type="range" id="myRange2" value="90">

                <p class="u-neg-mb-xsm u-color-primary-title c-lead c-lead--lg u-neg-mt-xsm" id="demo2"></p>
            </div>
        </div>
        <hr class="u-ln_thickness-xsm">
      </article>
    </div>
  </section>
  <section class="o-row o-row--lg">
    <div class="o-container">
      <article class="o-section o-section--lg x-minus-margin2">
        <div class="c-lead c-lead--xl u-color-primary-title x-content">
          Woonkamer
        </div>
      </article>
      <article class="o-section o-section--lg">
        <div class="o-layout o-layout--gutter-lg o-layout--align-center xtra_margin2">
            <div class="o-layout o-layout__item u-1-of-2-bp3 x-content">
              <div class="u-color-primary-white c-button" >
                Aan
              </div>
              <div class="u-color-primary-white c-button xtra_margin" >
                Uit
              </div>
            </div>

            <div class="o-layout__item u-1-of-2-bp3 x-content">
              <div class="u-color-primary-white c-button">
                Aan
              </div>
              <div class="u-color-primary-white c-button xtra_margin" >
                Uit
              </div>
            </div>
        </div>
      </article>
      <article class="o-section o-section--lg">
        <div class="o-layout o-layout--gutter-lg o-layout--align-center xtra_margin2">
            <div class="o-layout__item u-1-of-2-bp3 x-content u-neg-mt-xl">
              <p class="u-neg-mb-xsm u-neg-mt-sm u-color-primary-title c-lead c-lead--lg">dempen</p>
              <input class="u-color-gradient_background-light" onclick="myFunction()" type="range" id="myRange" value="90">

                <p class="u-neg-mb-xsm u-color-primary-title c-lead c-lead--lg u-neg-mt-xsm" id="demo"></p>

            </div>

            <div class="o-layout__item u-1-of-2-bp3 x-content u-neg-mt-xl">
              <p class="u-neg-mb-xsm u-neg-mt-sm u-color-primary-title c-lead c-lead--lg">dempen</p>
              <input class="u-color-gradient_background-light" onclick="myFunction2()" type="range" id="myRange2" value="90">

                <p class="u-neg-mb-xsm u-color-primary-title c-lead c-lead--lg u-neg-mt-xsm" id="demo2"></p>
            </div>
        </div>
        <hr class="u-ln_thickness-xsm">
      </article>
    </div>
  </section>
  <section class="o-row o-row--lg">
    <div class="o-container">
      <article class="o-section o-section--lg x-minus-margin2">
        <div class="c-lead c-lead--xl u-color-primary-title x-content">
          Bureau
        </div>
      </article>
      <article class="o-section o-section--lg">
        <div class="o-layout o-layout--gutter-lg o-layout--align-center xtra_margin2">
            <div class="o-layout o-layout__item u-1-of-2-bp3 x-content">
              <div class="u-color-primary-white c-button" >
                Aan
              </div>
              <div class="u-color-primary-white c-button xtra_margin" >
                Uit
              </div>
            </div>

            <div class="o-layout__item u-1-of-2-bp3 x-content">
              <div class="u-color-primary-white c-button">
                Aan
              </div>
              <div class="u-color-primary-white c-button xtra_margin" >
                Uit
              </div>
            </div>
        </div>
      </article>
      <article class="o-section o-section--lg">
        <div class="o-layout o-layout--gutter-lg o-layout--align-center xtra_margin2">
            <div class="o-layout__item u-1-of-2-bp3 x-content u-neg-mt-xl">
              <p class="u-neg-mb-xsm u-neg-mt-sm u-color-primary-title c-lead c-lead--lg">dempen</p>
              <input class="u-color-gradient_background-light" onclick="myFunction()" type="range" id="myRange" value="90">

                <p class="u-neg-mb-xsm u-color-primary-title c-lead c-lead--lg u-neg-mt-xsm" id="demo"></p>

            </div>

            <div class="o-layout__item u-1-of-2-bp3 x-content u-neg-mt-xl">
              <p class="u-neg-mb-xsm u-neg-mt-sm u-color-primary-title c-lead c-lead--lg">dempen</p>
              <input class="u-color-gradient_background-light" onclick="myFunction2()" type="range" id="myRange2" value="90">

                <p class="u-neg-mb-xsm u-color-primary-title c-lead c-lead--lg u-neg-mt-xsm" id="demo2"></p>
            </div>
        </div>
        <hr class="u-ln_thickness-xsm">
      </article>
    </div>
  </section>
  <section class="o-row o-row--lg">
    <div class="o-container">
      <article class="o-section o-section--lg x-minus-margin2">
        <div class="c-lead c-lead--xl u-color-primary-title x-content">
          Keuken
        </div>
      </article>
      <article class="o-section o-section--lg">
        <div class="o-layout o-layout--gutter-lg o-layout--align-center xtra_margin2">
            <div class="o-layout o-layout__item u-1-of-2-bp3 x-content">
              <div class="u-color-primary-white c-button" >
                Aan
              </div>
              <div class="u-color-primary-white c-button xtra_margin" >
                Uit
              </div>
            </div>

            <div class="o-layout__item u-1-of-2-bp3 x-content">
              <div class="u-color-primary-white c-button">
                Aan
              </div>
              <div class="u-color-primary-white c-button xtra_margin" >
                Uit
              </div>
            </div>
        </div>
      </article>
      <article class="o-section o-section--lg">
        <div class="o-layout o-layout--gutter-lg o-layout--align-center xtra_margin2">
            <div class="o-layout__item u-1-of-2-bp3 x-content u-neg-mt-xl">
              <p class="u-neg-mb-xsm u-neg-mt-sm u-color-primary-title c-lead c-lead--lg">dempen</p>
              <input class="u-color-gradient_background-light" onclick="myFunction()" type="range" id="myRange" value="90">

                <p class="u-neg-mb-xsm u-color-primary-title c-lead c-lead--lg u-neg-mt-xsm" id="demo"></p>

            </div>

            <div class="o-layout__item u-1-of-2-bp3 x-content u-neg-mt-xl">
              <p class="u-neg-mb-xsm u-neg-mt-sm u-color-primary-title c-lead c-lead--lg">dempen</p>
              <input class="u-color-gradient_background-light" onclick="myFunction2()" type="range" id="myRange2" value="90">

                <p class="u-neg-mb-xsm u-color-primary-title c-lead c-lead--lg u-neg-mt-xsm" id="demo2"></p>
            </div>
        </div>
        <hr class="u-ln_thickness-xsm">
      </article>
    </div>
  </section>
</body>
</html>
